<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>WLC</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<h1 class="pb-3">Login</h1>
	
	<form role="form" action="/members/new" method="post">
		<div class="form-group">
			<p>
				<label th:for="name">ID</label>
				<input type="text" class="form-control" placeholder="아이디를 입력하세요">
			</p>
			<p>
				<label th:for="name">PASSWORD</label>
				<input type="password" class="form-control" placeholder="비밀번호를 입력하세요">
			</p>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
	
	<br/>
	<div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>